@model Gymify.Application.ViewModels.UserProfile.UserProfileViewModel
@{
    ViewData["Title"] = "Profile";
}

<div class="userProfileContainer" style="background-image: url('@Model.UserEquipmentDto.BackgroundUrl'); background-size: cover; background-position: center;">
    <div class="userProfileCustoms">
        <div class="userProfileAvatarBlock">
            <div class="avatarFrame">
                <img src="@Model.UserEquipmentDto.FrameUrl" alt="Frame" class="frameImage"/>
                <img src="@Model.UserEquipmentDto.AvatarUrl" alt="Avatar" class="avatarImage"/>
            </div>
        </div>

        <div class="userProfileNameBlock">
            <div>
                <div class="userProfileName">@Model.UserName</div>
                <div class="userProfileTitle">@Model.Title</div>
            </div>
            <a class="userProfileEditButton scaleButton">Edit</a>
        </div>
    </div>

    <div class="userProfileAchivmentBlock">
        <h2 class="userProfileAchivmentTitle">Achievements</h2>
        <div class="userProfileAchivmentsList">
            @* @foreach (var url in Model.Achievements)
            {
                    <img class="userProfileAchivment" src="@url" />
            } *@
        </div>
    </div>

    <div class="userProfileLastTrains">
        <h2 class="userProfileTrainsTitle">My last trainings</h2>
        <ul class="userProfileTrainsList">
            @* @foreach (var percent in Model.Workouts)
            {
                    <li class="userProfileTrain">@percent</li>
            } *@
        </ul>
    </div>

    <div class="userProfileComments">
        Comments Soon...
    </div>
</div>
