@model List<Gymify.Application.DTOs.WorkoutsCalendar.WorkoutDayDto>

@if (Model.Any())
{
    @foreach (var day in Model)
    {
                <div class="day-entry">

                    <div class="day-header">
                        <span>@day.Date.ToString("dd MMMM yyyy")</span>

                        <span style="float: right;">
                            (Трен: @day.WorkoutCount, XP: @day.TotalXpForDay)
                        </span>
                    </div>

                    <div class="workout-list">
                @foreach (var workout in day.Workouts)
                {
                                <a asp-controller="Workouts" asp-action="Details" asp-route-id="@workout.Id">
                        @workout.Name
                                </a>
                }
                    </div>
                </div>
    }
}