@model Gymify.Application.ViewModels.UserItems.UserItemsViewModel

@{
    ViewData["Title"] = "UserItems";
}

<div class="UserItemsContainer">
    @foreach (var group in Model.Items.GroupBy(i => i.Type))
    {
        <div class="UserItemsBlock">
            <h2 class="UserItemsTitle">
                @(group.Key switch
                {
                    1 => "Background",
                    2 => "Border",
                    3 => "Avatar",
                    4 => "Title",
                    _ => "Unknown"
                })
            </h2>
            <div class="UserItems">
                @foreach (var item in group)
                {
                    <img src="@item.ImageURL" alt="@item.Name" class="UserItem" title="@item.Description" />
                }
            </div>
        </div>
    }
    <div class="UserItemsBlock">
        <h2 class="UserItemsTitle">Cases</h2>
        <div class="UserItems">
            @foreach (var caseEntity in Model.Cases.ToList())
            {
                <img src="@caseEntity.ImageUrl" alt="@caseEntity.Name" class="UserItem" title="@caseEntity.Description" />
            }
        </div>
    </div>
</div>
