@using Microsoft.AspNetCore.Identity
@using Gymify.Data.Entities
@using Microsoft.AspNetCore.Mvc.Localization
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IViewLocalizer Localizer

<ul class="navbar-nav ms-auto align-items-center"> 
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle gym-user-trigger" href="#" id="adminDropdown"
                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-shield-halved"></i> @Localizer["Menu_Admin"]
                </a>
                <ul class="dropdown-menu dropdown-menu-end gym-dropdown-menu" aria-labelledby="adminDropdown">
                    <li>
                        <a class="dropdown-item gym-dropdown-item" asp-controller="Admin" asp-action="Dashboard">
                            <i class="fa-solid fa-gauge"></i> @Localizer["Menu_Dashboard"]
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item gym-dropdown-item" asp-controller="Exercises" asp-action="Manage">
                            <i class="fa-solid fa-dumbbell"></i> @Localizer["Menu_ManageExercises"]
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item gym-dropdown-item" asp-controller="Users" asp-action="Manage">
                            <i class="fa-solid fa-users-gear"></i> @Localizer["Menu_ManageUsers"]
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item gym-dropdown-item" asp-controller="Comments" asp-action="Manage">
                            <i class="fa-solid fa-comments"></i> @Localizer["Menu_ManageComments"]
                        </a>
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                        <form asp-controller="Auth" asp-action="Logout" method="post" class="d-inline">
                            <button type="submit" class="dropdown-item gym-dropdown-item text-danger">
                                <i class="fa-solid fa-right-from-bracket"></i> @Localizer["Menu_Logout"]
                            </button>
                        </form>
                    </li>
                </ul>
            </li>
        }
        else
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle gym-user-trigger" href="#" id="userDropdown"
                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-regular fa-user-circle" style="font-size: 1.2rem;"></i>
                    @UserManager.GetUserName(User)
                </a>
                <ul class="dropdown-menu dropdown-menu-end gym-dropdown-menu" aria-labelledby="userDropdown">
                    <li>
                        <a class="dropdown-item gym-dropdown-item" asp-controller="User" asp-action="Profile" asp-route-userId="@Guid.Parse(User.FindFirst("UserProfileId").Value)">
                            <i class="fa-solid fa-id-card"></i> @Localizer["Menu_Profile"]
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item gym-dropdown-item" asp-controller="User" asp-action="Inventory">
                            <i class="fa-solid fa-box-open"></i> @Localizer["Menu_Inventory"]
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item gym-dropdown-item" asp-controller="Friends" asp-action="Index">
                            <i class="fa-solid fa-user-group"></i> @Localizer["Menu_Friends"]
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item gym-dropdown-item" asp-controller="Chat" asp-action="Index">
                            <i class="fa-solid fa-comments"></i> @Localizer["Menu_Chats"]
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item gym-dropdown-item" asp-controller="Main" asp-action="Exercises">
                            <i class="fa-solid fa-book-open"></i> @Localizer["Menu_Exercises"]
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item gym-dropdown-item" asp-controller="Main" asp-action="Leaderboard">
                            <i class="fa-solid fa-trophy"></i> @Localizer["Menu_Leaderboard"]
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item gym-dropdown-item" asp-controller="User" asp-action="Achievements">
                            <i class="fa-solid fa-medal"></i> @Localizer["Menu_Achievements"]
                        </a>
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                        <form asp-controller="Auth" asp-action="Logout" method="post" class="d-inline">
                            <button type="submit" class="dropdown-item gym-dropdown-item text-danger">
                                <i class="fa-solid fa-right-from-bracket"></i> @Localizer["Menu_Logout"]
                            </button>
                        </form>
                    </li>
                </ul>
            </li>
        }
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link gym-nav-link" asp-controller="Auth" asp-action="Login">@Localizer["Btn_Login"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link gym-btn gym-btn-primary scale-btn" style="padding: 8px 20px !important; color: white !important; margin-left: 10px;" asp-controller="Auth" asp-action="Register">
                @Localizer["Btn_Register"]
            </a>
        </li>
    }
</ul>