@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Gymify.Application.DTOs.Auth.LoginRequestDto

@{
    ViewData["Title"] = "Login";
}

<div class="auth-page-wrapper">
    <div class="auth-card">
        <div class="auth-header">
            <h1 class="auth-title">@Localizer["WelcomeBack"]</h1>
            <p class="auth-subtitle">@Localizer["PleaseEnterDetails"]</p>
        </div>

        <form asp-action="Login" method="post">
            <div class="form-group">
                <label asp-for="Email" class="auth-label">@Localizer["Email"]</label>
                <input asp-for="Email" class="gym-input" placeholder="name@example.com" />
                <span asp-validation-for="Email" class="text-danger" style="font-size:12px;"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="auth-label">@Localizer["Password"]</label>
                <input asp-for="Password" class="gym-input" placeholder="••••••" type="password" />
                <span asp-validation-for="Password" class="text-danger" style="font-size:12px;"></span>
            </div>

            <div class="form-check">
                <input asp-for="RememberMe" class="form-check-input" />
                <label asp-for="RememberMe" class="form-check-label">
                    @Localizer["RememberMe"]
                </label>
            </div>

            <button type="submit" class="gym-btn gym-btn-primary w-100 scale-btn">
                @Localizer["LoginButton"]
            </button>
        </form>

        <div class="auth-footer">
            @Localizer["DontHaveAccount"]
            <a asp-action="Register" class="auth-link">@Localizer["SignUp"]</a>
        </div>
    </div>
</div>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}