@using Microsoft.AspNetCore.Mvc.Localization
@using Gymify.Application.DTOs.WorkoutsFeed
@inject IViewLocalizer Localizer
@model List<WorkoutDayDto>

@{
    bool onlyMy = ViewBag.OnlyMy ?? false;
}

@foreach (var day in Model)
{
    <div class="day-entry"
         data-day-id="@day.Date.ToString("yyyy-MM-dd")"
    @if (onlyMy)
    {
        <text>data-day-xp="@day.TotalXpForDay"</text>
    }>
        <div class="day-header">
            <span>@day.Date.ToString("dd MMMM yyyy")</span>
            <span style="float: right;">
                @* Використовуємо локалізацію для "Workouts" *@
                @Localizer["Workouts"]:@day.WorkoutCount
                @if (onlyMy)
                {
                    @* Використовуємо локалізацію для "XP" *@
                    <text>| @Localizer["XP"]:@day.TotalXpForDay</text>
                }
            </span>
        </div>

        <div class="workout-list">
            @foreach (var workout in day.Workouts)
            {
                <a class="workout-card-row"
                   asp-controller="Workout"
                   asp-action="Details"
                   asp-route-workoutId="@workout.Id"
                   data-workout-xp="@(onlyMy ? workout.TotalXP : null)">

                    <div class="card-left-info">
                        <span class="workout-name">@workout.Name</span>
                        @if (onlyMy)
                        {
                            <span class="workout-xp">@Localizer["XP"]: @workout.TotalXP</span>
                        }
                    </div>

                    <div class="card-right-meta">
                        <span class="workout-meta-date">
                            @workout.CreatedAt.ToString("dd MMM yyyy HH:mm")
                        </span>
                        <span class="workout-meta-author">
                            @workout.AuthorName
                        </span>
                    </div>
                </a>
            }
        </div>
    </div>
}